@media screen and (max-width: 480px) {

    .header__main_name {
        padding: 13px;
    }

    .header__main {
        padding: 120px 0 120px;
    }

    .soc-icon__link {
        width: 28px;
    }

    .soc-icon {
        padding-right: 40px;
    }

    .header__top_grid {
        padding: 0 38px;
    }

    .nav {
        align-self: center;
    }

    .product__list {
        flex-direction: column;
        row-gap: 30px;
    }

    .products {
        padding: 35px;
    }

    .about__main_grid {
        flex-direction: column;
        align-items: center;
    }

    .main__item {
        padding: 39px;
    }

    .about__main {
        padding: 0;
    }

    .feedbacks__container {
        flex-direction: column;
        padding: 0 30px;
        margin-top: 0;
        row-gap: 20px;
    }

    .feedback__img {
        width: 366px;
    }

    .container__wrap {
        row-gap: 20px;
    }

    .feedback__head {
        margin-bottom: 10px;
    }

    .conclusion__wrap {
        flex-direction: column;
    }

    .conclusion__left, .conclusion__right {
        width: 480px;
        height: 435px;
    }

    .conclusion__wrap {
        padding: 0;
    }

}